<!DOCTYPE html>
<html lan="en">
    <head>
        <title>web page-1</title>
        
        <meta name="viewport"
        content="width=device-width,
                initial-scale-1">
        <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
        <script>
            alert("one!Two!Three! Go!");
         </script>
    </head>
    <body>
        <div class="input-group"  style="color:white;background-color:black;border:40px;padding:20px;justify-content: space-around;">
            <div>choose another country to see content specific to your location</div>
            <div><select> 
            <option class="form-control" style="color: white;background-color: black;">INDIA</option>
            <option>other country or region</option>
            </select></div>

            
        </div>
             <div class="input-group" style="color:white;background-color: black;padding:10px;justify-content:space-around;"> 
                <div><img src="https://t1.gstatic.com/images?q=tbn:ANd9GcSoMoLZH16MxETvvZC5_ftr4g6U4qDxob3-dXbH8xr2laR6oxUo" style="height:70px; max-width: m; "></div>
                <div style="padding:20px"><a style="color:white" href="#cont1">store</a></div>
                <div style="padding:20px"><a style="color:white" href="#cont2">Mac</a></div>
                <div style="padding:20px"><a style="color:white" href="#cont6">ipad</a></div>
                <div style="padding:20px"><a style="color:white" href="#cont5">Watch</a></div>
                <div style="padding:20px"><a style="color:white" href="#cont2">new</a></div>
                <div style="padding:20px"><a style="color:white" href="#cont7">Tv&Home</a></div>
                <div style="padding:20px"><a style="color:white" href="#cont2">Only on Apple</a></div>
                <div style="padding:20px"><a style="color:white" href="">Accessories</a></div>
                <div style="padding:20px"><a style="color:white" href="#cont8">Support</a></div>
                 
             </div>

        <div>
            <div class="container" id="cont1">
                <div class="row" >
                    <div id="id1"class="col" style="background-color:white;padding-left:50px;text-align-last: right;">
                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRF_HLcMBUMdBk3h2nVSd2uNszXPfEwAYtAnVK5TXBfmoiQTwQ5" height="100px" ></div>
                    <div class="col-7" style="background-color:white;font-size:20px;color:dodgerblue;padding-top:35px;padding-left:5px;text-align:start ;">
                        <a href="itmss://buy.itunes.apple.com/WebObjects/MZFinance.woa/wa/buyCharityGiftWizard?charity=10220">Donate to support families affected by the war in Ukraine</a>
                </div>
            </div>
            </div>
        </div>



         <div id="cont2">
            <table>
                <tr>
                    <td><div style="margin-left:100px;
                        margin-top: 200px; margin-bottom: 200px;">
                        <h1 style="font-size: 4em;">MackBook Air</h1>
                        <h2 style="font-size: 2.5em; margin: 15px;">Supercharged by <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiudqkDDyF7AFeswvR8VRDzatq1c36ShKM1EsyiMUL986dXPmg" height="50px" weight="50px"></h2>
                        <h3 style="color:rgb(174, 167, 167); margin-left: 30px; font-size: 2em;">Available Next Month</h3>
                        
                        <a href="https://www.apple.com/macbook-air-m2/"><h3 style="text-align:center; font-size: 1.5em;">Learn more ></h3></a>
                        <a href ="https://www.apple.com/shop/buy-mac/macbook-air/with-m2-chip">
                        <h3 style="text-align:center; font-size: 1.5em;">View Pricing></h3></a>
                       
                    </div></td>
                    <td><div>
                        <img src="https://i0.wp.com/www.mansworldindia.com/wp-content/uploads/2022/09/4-1.png?resize=800%2C600&ssl=1"
                        height="650px" width="1000px">
                    </div></td>
                </tr>
        </table>
    </div>



    <div style="background-color: black; width: 100%;" id="cont3">
    
        <h1 style= "text-align:center ; color:white; font-size: 50px; ">MacBook Pro 13" </h1>
        <h1 style="text-align: center; color :white; font-size:40px ;"> Superchanged by Apple<img src="Screenshot (45).png" 
            heigth="40px" width="40px" > </h1>
        <h3 style="text-align:center; color:grey;font-size: 30px;"> Avaliable starting 6.24</h3>
            
                <a href="https://www.apple.com/macbook-pro-13/"><h3 style="color:blue; font-size: 25px; text-align: center;">  Learn more></h3>   </a> 
               <a href="https://www.apple.com/shop/buy-mac/macbook-pro/13-inch"><h3 style="text-align:center;color:blue;font-size:25px" >Order now ></h3> </a>
               
               <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/macbook-pro-og-202206?wid=600&hei=315&fmt=jpeg&qlt=95&.v=1652827851520"
                height="600px"  width="700px"  style="margin-left: 25em;">
    </div>


    <div style="background-color:white" id="cont4">
    
        <h1 style= "text-align:center ; color:black; font-size: 60px; ">iPhone 13. </h1>
        <p style= "text-align:center ; color:black; font-size: 30px;  ">Your new superpower. </p>
        
        <a href="https://www.apple.com/iphone-13/"><h3 style="text-align:center;color:blue; font-size: 25px;">  Learn more > </h3>   </a> 
        <a href="https://www.apple.com/shop/buy-iphone/iphone-13"> <h3 style="text-align:center;color:blue;font-size:25px" > Buy > </h3> </a>
        <img src="https://images.hindustantimes.com/tech/img/2022/05/20/1600x900/Apple-iPhone13-green-hero-2up-220308_big_carousel.jpg.large_1647053816744_1653016035146.jpg"
        height="500px" width="500px" style="margin-left: 30em;">
    </div>
  
    

<div></div>
    <table id="cont5">
        <tr>
            <td>
                <div>
                <h1 style="font-size: 3em; text-align: center;"><img src="https://manuals.plus/wp-content/uploads/2021/09/1-236-236x300.png?ezimgfmt=rs:316x402/rscb1/ngcb1/notWebP" height="50px" width="50px">iPhone 13 Pro</h1>
                <h3 style="font-size:2em; text-align: center;">Oh.So.Pro</h3>
                <a href="https://www.apple.com/iphone-13-pro/">
                <h3 style="font-size:1.5em; text-align: center;">Learn more ></h3>
                </a>
                <a href="https://www.apple.com/shop/buy-iphone/iphone-13-pro">
                <h3 style="font-size:1.5em; text-align: center;">Buy ></h3>
                </a>
                
                <img src="https://www.apple.com/newsroom/images/product/iphone/standard/Apple-iPhone13-Pro-alpine-green-hero-2up-220308_big_carousel.jpg.small.jpg"
                height="500px" width="700px">
            </td>
            <td>
                <div style="margin-left:100px">
                <h1 style="font-size:2.5em; text-align: center;"><img src="apple-logo.png" height="50px" width="50px">Watch</h1>
                <h3 style="color:brown; font-size: 1.5em; text-align: center;">Series 7</h3>
                <h3 style="font-size:1.5em; text-align: center;">It's our largest display yet.</h3>
                <a href="https://www.apple.com/apple-watch-series-7/">
                <h3 style="font-size:1.5em; text-align: center;">Learn more ></h3>
                </a>
                <a href="https://www.apple.com/shop/buy-watch/apple-watch">
                <h3 style="font-size:1.5em; text-align: center;">Buy ></h3>
                </a>
                <img src="https://m.media-amazon.com/images/I/71GIYSZpW+L._SX522_.jpg">
                <h3 style="height:10px width=700px"></h3>
                </a>
                

                </div>
            </td>
        </tr>
    </table>
</div>




    

<div id="cont6">

    
            <div style="text-align:center;height:200px;background-color: black;color:white;font-size: 30px;border:5px solid black">
            ipad air<br>
            Light.Bright.Full of might.<br>
            <a href="https://www.apple.com/ipad-air/">Learn more></a><br>
            <a  href="https://www.apple.com/shop/buy-ipad/ipad-air">Buy></a><br>
            </div>

            <img src="https://www.lokjanya.com/wp-content/uploads/2022/03/apple.jpg" width="1600px" height="700px" style="background-color:black;text-align: center;">
        </div>
        
        

</div>


<div>

<table id="cont7">
    <tr>
        <td>
            <div>
            <h1 style="font-size: 3em; text-align: center;"><img src="https://t0.gstatic.com/images?q=tbn:ANd9GcTpjZcPUK4bc8E97Mzpyg2bVdWdG8rBm4PNOQJXG4tVgGVT-7rb" height="50px" width="50px" >Card</h1>
            <h3 style="font-size:2em; text-align: center;">Get upto 3% Daily Cash Back</h3>
            <h3 style="font-size:2em; text-align: center;">with every purchase.</h3>
            <a href="https://www.apple.com/apple-card/">
            <h3 style="font-size:1.5em; text-align: center;">Learn more ></h3>
            </a>
            <a href="https://card.apple.com/apply/start?referrer=cid%3Dapy-200-100018">
            <h3 style="font-size:1.5em; text-align: center;">Buy ></h3>
            </a>
            <img src="https://www.telegraph.co.uk/content/dam/technology/2019/08/22/Apple-metal-card_trans_NvBQzQNjv4BqdiU7SaSCzIm0H_xgICqLnMjCd1mQKI7TSwzOCPv5YEk.PNG?imwidth=960"
            height="500px" width="700px">
        </td>
        <td>
            <div style="margin-left:100px;">
            <img src="https://static.kino.de/wp-content/gallery/cha-cha-real-smooth-2022/cha-cha-real-smooth-3-rcm260x260u.jpg"
            height="600px" width="700px">
            

            </div>
        </td>
    </tr>
</table>

</div>






<div id="cont8">
<p style="padding-left:100px;padding-right:100px;color:dimgray;max-width: max-content;font-size: 14px;background-color:whitesmoke">1. $4.99/month after free trial. One subscription per Family Sharing group. Offer good for 3 months after eligible device activation. Plan automatically renews until cancelled. Restrictions and other terms apply.<br>
    To access and use all the features of Apple Card, you must add Apple Card to Wallet on an iPhone or iPad with the latest version of iOS or iPadOS. Update to the latest version by going to Settings > General > Software Update. Tap Download and Install.<br>
    Available for qualifying applicants in the United States.<br>
    Apple Card is issued by Goldman Sachs Bank USA, Salt Lake City Branch.<br>
    Learn more about how Apple Card applications are evaluated at <a href="https://support.apple.com/en-us/HT209218 " style="color:dimgrey">https://support.apple.com/en-us/HT209218</a><br>
    $4.99/month after free trial. Only one offer per Apple ID and only one offer per family if you’re part of a Family Sharing group, regardless of the number of devices you or your family purchases. This offer is not available if you or your Family have previously accepted an Apple TV+ one year free offer. Offer good for 3 months after eligible device activation. Plan automatically renews until cancelled. Restrictions and other <a href="https://www.apple.com/promo/" style="color:dimgrey">terms</a> apply</p><hr>
   <div class="input-group" style="justify-content:space-around;padding-left:50px;padding-right:50px;background-color:whitesmoke">
   <div style="font-size:14px;color:dimgray">
    <h1 style="font-size:14px;color:black">Shop and Learn</h1>
    Store<br>Mac<br>iPad<br>iPhone<br>Watch<br>AirPods<br>TV & Home<br>AirTag<br>Accessories<br>Gift Cards<br>
   </div>
   <div style="font-size:14px;color:dimgray">
    <h1 style="font-size:14px;color:black">Services</h1>
    Apple Music<br>Apple TV+<br>Apple Fitness+<br>Apple News+<br>Apple Arcade<br>iCloud<br>Apple One<br>Apple Card<br>Apple Books<br>Apple Podcasts<br>App Store<br><br>
    <h1 style="font-size:14px;color:black">Account</h1>
    Manage Your Apple ID<br>Apple Store Account<br>iCloud.com<br>
   </div>
   <div style="font-size:14px;color:dimgray">
    <h1 style="font-size:14px;color:black">Apple Store</h1>
    Find a Store<br>Genius Bar<br>Today at Apple<br>Apple Camp<br>Apple Store App<br>Refurbished and Clearance<br>Financing<br>Apple Trade In<br>Order Status<br>Shopping Help<br>
   </div>
   <div style="font-size:14px;color:dimgray">
    <h1 style="font-size:14px;color:black">For Business</h1>
    Apple and Business<br>Shop for Business<br><br>
    <h1 style="font-size:14px;color:black">For Education</h1>
    Apple and Education<br>Shop for K-12<br>Shop for College<br><br>
    <h1 style="font-size:14px;color:black">For Healthcare</h1>
    Apple in Healthcare<br>Health on Apple Watch<br>Health Records on iPhone<br><br>
    <h1 style="font-size:14px;color:black">For Government</h1>
    Shop for Government<br>Shop for Veterans and Military<br>
   </div>
   <div style="font-size:14px;color:dimgray">
    <h1 style="font-size:14px;color:black">Apple Values</h1>
    Accessibility<br>Education<br>Environment<br>Inclusion and Diversity<br>Privacy<br>Racial Equity and Justice<br>Supplier Responsibility<br><br>
    <h1 style="font-size:14px;color:black">About Apple</h1>
    Newsroom<br>Apple Leadership<br>Career Opportunities<br>Investors<br>Ethics & Compliance<br>Events<br>Contact Apple<br>
   </div>
</div>

</div>
<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Footer text</h5>
  
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
            aliquam voluptatem veniam, est atque cumque eum delectus sint!
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Footer text</h5>
  
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
            aliquam voluptatem veniam, est atque cumque eum delectus sint!
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
        </body>
        </html>